

<button class="btn btn-primary float-right p-3 m-3"  (click)="addVol()">Add Volume</button>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Open</th>
        <th scope="col">High</th>
        <th scope="col">Low</th>
        <th scope="col">Close</th>
        <th scope="col">Volume</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of data">
        
        <td>{{list.adate | date}}</td>
        <td>{{list.aopen}}</td>
        <td>{{list.ahigh}}</td>
        <td>{{list.alow}}</td>
        <td>{{list.aclose}}</td>
        <td>{{list.VOLMO252_111617}}</td>
      </tr>

    </tbody>
  </table>
